.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.book-text {
    position: relative;
    background-color: rgba(255, 255, 255, 0.92);
    padding: 18px 22px;
    border-radius: 16px;
    border: 1px solid rgba(255, 105, 180, 0.35);
    margin-bottom: 20px;
}

.book-text .icon {
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: 2rem;
    opacity: 0.35;
}

.book-text p {
    margin: 0;
    line-height: 1.8;
    color: var(--primary-color);
    font-weight: 700;
    font-family: "Loved by the King", cursive;
    font-size: 1.2rem;
}
